<div id="<%= dom_id tweet %>" class="card">
  <p>
    <strong>Body:</strong>
    <%= tweet.body %>
  </p>

  <p>
    <strong>Likes count:</strong>
    <%= tweet.likes_count %>
  </p>

  <p>
    <strong>Retweets count:</strong>
    <%= tweet.retweets_count %>
  </p>

</div>
