<p style="color: green"><%= notice %></p>

<h1>Add a tweet</h1>

<%= render 'tweets/form', tweet: @tweet %>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>
