<h1>You got a new comment from <%= @comment.post.title %>: <%= @comment.content  %></h1>

<%# this requires comments/_comment.TEXT.erb to render  %>
<%#% render @comment %>

you can find me in app/views/comments_mailer/submitted.text.erb
